.col-md-6
{
    padding-top:2%;
}
.alert.alert-success
{
    text-align: center;
    margin-top:2%;
}
h1
{
    text-align: center;
}
.vypis
{
    padding-left: 6%;
    width: 40%;
    float: left;
}
.alert.alert-success.col-xs-8.col-md-12
{
    margin-left: 1%;
    margin-right: 50%;
    margin-top: 2%;
}